// .filter__list {
//     display: flex;
//     gap: 8px;
//     margin-bottom: 50px;
//     margin-right: auto;
//     margin-left: auto;
//     justify-content: center;

// @media screen and (max-width: 767px) {
//     width: 363px;
//     height: 91px;
//     flex-wrap: wrap;
//     justify-content: start;
// }
// }

.filter__list {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    // width: 363px;
    // height: 91px;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
    

@media screen and (min-width: 767px) {
        display: flex;
            gap: 8px;
            margin-bottom: 30px;
            margin-right: auto;
            margin-left: auto;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
    }
    @media screen and (min-width: 1200px) {
  
            margin-bottom: 50px;
         
           
    }
}